*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.content{
    width: 100%;
    height: fit-content;
}
header{
    height: 140px;
    background-color: #eaeaea;
    border: 3px solid #c2f790;
    border-radius: 35px;
    margin-top: 18px;
    /* margin: 10px; */
    width: 97%;
    margin-left: 14px;
}

section{
    height: 50vh;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.right{
    width: 76%;
    background-color: #eaeaea;
    border: 3px solid #c2f790;
    border-radius: 35px;
}

.main{
    width: 19%;
    background-color: #eaeaea;
    border: 3px solid #c2f790;
    border-radius: 35px;
}

footer{
    height: 140px;
    background-color: #eaeaea;
    border: 3px solid #c2f790;
    border-radius: 35px;
    margin-bottom: 18px;
    width: 97%;
    margin-left: 14px;
}
p{
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}
